.tag {
  height: fit-content;
  width: fit-content;
  border-radius: 12px;
  cursor: pointer;
  *{
    cursor: pointer;
  }
}

.interact-icon {
  height: fill-content;
  width: fill-content;
  margin-left: 5px;
  align-items: center;
  font-size: 13px;
}
