@import "./partials/colors.scss";
@import "./partials/layout.scss";
@import "./partials/forms.scss";

$thumbDimension: 200px;
$textColor: white;
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&family=Lato&display=swap");
* {
  font-family: "Azeret Mono", monospace;
  font-family: "Lato", sans-serif;
}

#albums {
  display: flex;
  max-width: 1280px;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.album {
  margin: 10px;
  margin-bottom: 35px;
  width: fit-content;
  border: 1px solid black;
}

.thumb-img {
  width: 100%;
}

.player-btn {
  position: absolute;
  left: calc($thumbDimension / 2);
  right: calc($thumbDimension / 2);
  width: 20px;
  height: 20px;
  background-color: red;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 100;
}

.thumbnail:hover .player-btn {
  // opacity: 0.8;
}

.link-wrapper:hover {
  // background-color:rgb(50,50,50);
  backround-color:white;
}
.link-wrapper:hover div {
  color:rgb(220,220,220);
  // color:black;
}

.link-wrapper {
  display: flex;
  align-items: center;
  background-color: black;
  width: $thumbDimension;
  margin-top: 6px;
  height: 40px;
  cursor: pointer;
}



.link-wrapper div {
  font-size: 13px;
  color: $textColor;
  vertical-align: center;
  padding-left: 2px;
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#next-btn {
  color: $textColor;
}

.thumbnail {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: $thumbDimension;
  height: $thumbDimension;
  display: flex;
  justify-content: center;
  align-items: center;
}